
<div class="container">
  <a [routerLink]="['/']">Retour à la page principale</a>
  <div class="title">
    <p>Name of the country</p>
  </div>
  <div class="card-container">
    <div class="row">
      <div class="card">
        <p class="card-title">Number of entries</p> 
        <p class="card-number"><b>{{ totalEntries }}</b></p>
      </div>
      <div class="card">
        <p class="card-title">Total number medals</p>
        <p class="card-number"><b>{{ totalMedals }}</b></p>
      </div>
      <div class="card">
        <p class="card-title">Total number of athletes</p>
        <p class="card-number"><b>{{ totalAthletes }}</b></p>
      </div>
    </div>
  </div>
  <div #chartContainer class="chart-container">
    <line-chart [olympic]="olympic()"></line-chart>
  </div>  
</div>
