
<div class="container">
  <div class="title">
    <p>Medals per Country</p>
  </div>
  <div class="card-container">
    <div class="card">
      <p class="card-title">Number of JOs</p> 
      <p class="card-number"><b>{{ joNumber }}</b></p>
    </div>
    <div class="card">
      <p class="card-title">Number of countries</p>
      <p class="card-number"><b>{{ countryNumber }}</b></p>
    </div>
  </div>
  <div #chartContainer class="chart-container">
    <pie-chart 
      [olympics]="olympics()"
      (selectedOlympic)="onSelectedOlympic($event)"
    ></pie-chart>
  </div>
</div>
