.container {
    display: flex;
    flex-direction: column;
    height: 98dvh; // dvh useful on modern mobile
}

.chart-container {
    flex: 1;
    min-height: 0;     
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie-chart {
    flex: 1;
    min-height: 0;     
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

