/* You can add global styles to this file, and also import other style files */
body .ngx-charts-tooltip-content .tooltip-content {
    font-size: 1.8rem !important;
}

.ngx-charts text {
    font-size: 1.8rem;
}

html {
  font-size: 62.5%;
}

* {
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

/* MAIN LAYOUT */ 
.container {
  display: flex;
  flex-direction: column;
  height: 98dvh; // dvh useful on modern mobile
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-container {
  display: flex;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-aspect-ratio: 4/3) {
  .container {
    flex-wrap: wrap;
  }

  .row {
    flex-direction: column;
  }

  .card-container {
    margin-bottom: 50px;
    flex: 1 0 100%;
    order: -1;
  }
}
/* END MAIN LAYOUT */ 

.title p {
  font-size: 2.4rem;
  justify-self: center;
  background-color:#04838f;
  color: white;
}

.card, .title p {
  border: 3px solid #04838f;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.card p {
  margin: 4px;
  font-size: 2rem;
  text-wrap: nowrap;
}

.card-title {
  color: #555;
}

.card-number {
  color: #222;
}